*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root
{
    --nav_font:"Open Sans", sans-serif;
    --lfo_font:"logofont";
}
.error_message{
  color: red;
  font-size: .8rem;
  font-family: var(--nav_font);
}